.about{
  
    margin-top: 60px;
height: 100vh;
background-image: url("https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

background-repeat: no-repeat;
margin-top: 60px;
height: 100vh;
background-image: url("https://assets.website-files.com/5e853c3383474026e43f2c78/5e85425605cae11f20d46181_denisse-leon-J7CjWufjmg4-unsplash.jpg");

}