.checkout{background-size: cover;
    height:100vh;
    background-repeat: repeat-y;
    margin-top: 60px;
    background-image: url("https://assets.website-files.com/5e853c3383474026e43f2c78/5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpg");
}