.home{
    background-color: #26282d;
    margin-top: 60px;
}
.main_heading{
    height: 80px;
    background-color: black;
    color:white;
    width: 100%;
    text-align: center;
    font-size: 50px;
}